{% extends "exercises/form/base.html" %}

{% block exercise_content %}
<article class="content full">
    <div class="line width-ref">
        {% with questions.term1|first as question %}
        <span>{{ question.value }}</span>
        {% endwith %}
        <span>&times;</span>
        {% with questions.term2|first as question %}
        <span>{{ question.value }}</span>
        {% endwith %}
        <span>=</span>
        {% with answers.result|first as answer %}
        {{ answer.answer }}{{ answer.value }}
        {% endwith %}
    </div>
</article>
{% endblock %}
