{% extends "exercises/detail/base.html" %}
{% load utils_extras %}

{% block exercise_content %}
<article class="content full">
    {% with questions.question|first as question %}
    {% with questions.question_type|first as question_type %}
    {% with questions.result_type|first as result_type %}
    <p>Quantos {{ result_type.value }} há em {{ question.value }} {{ question_type.value }}?</p>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% with answers.result|first as item %}
    <p>Resposta: {{ item.correct_value|cut_zeros }}</p>
    {% endwith %}
</article>
{% endblock %}

{% block user_attempt %}
<article class="content full">
    {% with questions.question|first as question %}
    {% with questions.question_type|first as question_type %}
    {% with questions.result_type|first as result_type %}
    <p>Quantos {{ result_type.value }} há em {{ question.value }} {{ question_type.value }}?</p>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% with answers.result|first as item %}
    <p>Resposta: {{ item.value|cut_zeros }}</p>
    {% endwith %}
</article>
{% endblock %}

