#klass-start {
    .title {
        &.error {
            color: $alert-color;
            font-weight: bold;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .dates {
        margin-bottom: emCalc(20px);

        label {
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 0.2em;
        }
    }

    .programs {
        @include clearfix;

        .program {
            float: left;
            width: 30%;
            padding: emCalc(15px);
            margin-left: 5%;
            margin-bottom: emCalc(20px);
            background: lighten($tertiary-color, 40%);

            @include radius;

            &:nth-child(3n + 1) {
                clear: left;
                margin-left: 0;
                width: 30%;
            }

            &:hover, &.active {
                background: lighten($tertiary-color, 30%);
            }

            h3 {
                font-size: 1.2em;
            }

            h4 {
                font-size: 1em;
                color: $success-color;
            }

            p, .button {
                margin: 0;
            }
        }
    }

    .program-modules {
        li {
            padding: 0.5em 0;
            border-bottom: 1px solid lighten($tertiary-color, 30%);

            &.sortable-placeholder {
                background: lighten($success-color, 40%);
            }
            &.sortable-dragging {
                background: lighten($tertiary-color, 40%);
                list-style: none;
            }
        }

        em {
            display: block;
            float: right;
            margin-right: emCalc(10px);
        }

        .progress {
            width: 30%;
            margin-bottom: 0;
        }
    }

    .students {
        textarea {
            height: 10em;
        }
    }
}

#next-batteries {
    @include panel();
    @include radius($global-radius);

    border-color: lighten($tertiary-color, 30%);
    background: lighten($tertiary-color, 40%);

    h4 {
        font-size: 1.3em;
        color: $success-color;
    }

    ul {
        list-style: none;
        margin-left: 0;
    }

    p {
        line-height: 1.3em;

        &, & .button {
            margin: 0;
        }
    }
}

#performance.f-dropdown {
    $f-dropdown-triangle-color: $secondary-color;
    $f-dropdown-border-width: 1px;
    $f-dropdown-border-color: $tertiary-color;
    $f-dropdown-bg: $secondary-color;
    @include dropdown-container('content', true, 'auto');

    .row + .row {
        margin-top: 0.5em;
    }

    .button {
        margin-bottom: 0;
    }
}
