{% extends "exercises/detail/base.html" %}
{% load utils_extras %}

{% block exercise_content %}
<article class="content full">
    <p>Efetue a divisão da fração a seguir sem simplificação:</p>
    <div class="line width-ref">
        <div class="group">
            {% for item in questions.term1 %}
                <span>{{ item.value }}</span>
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">{% block sign %}÷{% endblock %}</span>
        <div class="group">
            {% for item in questions.term2 %}
            <span>{{ item.value }}</span>
            {% endfor %}
        </div>
        <span class="f-sign">=</span>
        <div class="group">
            {% for answer in answers.partial1 %}
                <span>{{ answer.correct_value|cut_zeros }}</span> 
            {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">x</span>
        <div class="group">
            {% for answer in answers.partial2 %}
                <span>{{ answer.correct_value|cut_zeros }}</span> 
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">=</span>
        <div class="group">
            {% for answer in answers.result %}
                <span>{{ answer.correct_value|cut_zeros }}</span> 
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock exercise_content %}

{% block user_attempt %}
<article class="content full">
    <p>Efetue a divisão das frações a seguir sem simplificação:</p>
    <div class="line width-ref">
        <div class="group">
            {% for item in questions.term1 %}
                <span>{{ item.value }}</span>
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">{% block attempt_sign %}÷{% endblock %}</span>
        <div class="group">
            {% for item in questions.term2 %}
                <span>{{ item.value }}</span>
            {% endfor %}
        </div>
        <span class="f-sign">=</span>
        <div class="group">
            {% for answer in answers.partial1 %}
                <span>{{ answer.value|cut_zeros }}</span> 
            {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">x</span>
        <div class="group">
            {% for answer in answers.partial2 %}
                <span>{{ answer.value|cut_zeros }}</span> 
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">=</span>
        <div class="group">
            {% for answer in answers.result %}
                <span>{{ answer.value|cut_zeros }}</span> 
                {% if forloop.first %}<hr />{% endif %}
            {% endfor %}
        </div>
    </div>
</article>
{% endblock user_attempt %}
