{% extends "exercises/detail/base.html" %}
{% load utils_extras %}

{% block exercise_content %}
<article class="content full">
    {% with questions|first as question %}
    <p>Qual a fração correspondente à {% block question_term %}{{ question.value }}%{% endblock %}?</p>
    {% endwith %}

    <div class="line">
        <p>Resposta:</p>
        <small class="large-group">
            {% for item in answers.result %}
            <span>{{ item.correct_value|cut_zeros }}</span>
            {% if forloop.first %}<hr/>{% endif %}
            {% endfor %}
        </small>
    </div>
</article>
{% endblock exercise_content %}

{% block user_attempt %}
<article class="content full">
    {% with questions|first as question %}
    <p>Qual a fração correspondente à {% block attempt_question_term %}{{ question.value }}%{% endblock %}?</p>
    {% endwith %}

    <div class="line">
        <p>Resposta:</p>
        <small class="large-group">
            {% for item in answers.result %}
            <span>{{ item.value|cut_zeros }}</span>
            {% if forloop.first %}<hr/>{% endif %}
            {% endfor %}
        </small>
    </div>
</article>
{% endblock user_attempt %}
