{% extends "base.html" %}
{% load utils_extras %}

{% block title %}Atualize seus dados{% endblock %}

{% block breadcrumbs_start %}
<li><a href="{% url 'demonstrations:demo-start' pk=view.demonstration.pk %}">Demonstração</a></li>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'demonstrations:purchase:start' pk=view.demonstration.pk %}">Iniciar compra</a></li>
<li class="current"><a href="{{ request.path }}">Atualizar dados</a></li>
{% endblock %}


{% block content %}
<h1>Atualize seus dados</h1>

<div class="module">
    <header><div><strong>1</strong><span> de 4</span></div></header>

    {% if not object.has_complete_data %}
    <p>Por favor, antes de continuar a compra, preencha todos os campos obrigatórios listados abaixo:</p>
    {% endif %}

    <form class="form" method="post" action="{{ request.path }}" enctype="multipart/form-data">{% csrf_token %}
        {{ form|render_form }}

        <button class="button" type="submit">Atualizar</button>
        <a class="button" href="{% url 'demonstrations:purchase:start' pk=view.demonstration.pk %}">Voltar</a>
    </form>
</div>
{% endblock %}

