{% extends "base.html" %}

{% block title %}Compra finalizada{% endblock %}

{% block breadcrumbs_start %}
<li><a href="{% url 'demonstrations:demo-start' pk=object.pk %}">Demonstração</a></li>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'demonstrations:purchase:start' pk=object.pk %}">Iniciar compra</a></li>
<li><a href="{% url 'demonstrations:purchase:contract-agree' pk=object.pk %}">Contrato</a></li>
<li><a href="{% url 'demonstrations:purchase:klasses-create' pk=object.pk %}">Turmas</a></li>
<li class="current"><a href="{{ request.path }}">Finalizar</a></li>
{% endblock %}

{% block content %}
<h1>Compra finalizada</h1>

<div class="module">
    <header><div><strong>4</strong><span> de 4</span></div></header>

    <p>Sua compra foi finalizada. No entanto,
    {% if klasses = 1 %}
    a turma criada será ativada
    {% else %}
    as {{ klasses }} turmas criadas serão ativadas
    {% endif %}
    <strong>somente após a compensação</strong> do primeiro boleto de
    pagamento (que pode acontecer até 72 horas após seu pagamento).</p>

    <a class="button" href="{{ payment.get_absolute_url }}" target="_blank">Imprimir boleto de pagamento</a>
</div>
{% endblock %}

