{% extends "exercises/form/base.html" %}
{% load exercises_extras %}

{% block exercise_content %}
<article class="content full">
    <p>Qual a medida do segmento {% for q in questions.points %}{{ q.value|upper }}{% endfor %}?</p>
    <div>
        <canvas class="segments" width="100" height="100"
            data-segments="{% for s in questions.segments %}{{ s.value }}{% if not forloop.last %},{% endif %}{% endfor %}">
            Canvas não suportado pelo browser !
        </canvas>

        <p>
            Resposta:
            {% with answers.result|first as f %}
            {{ f.answer }}{{ f.value }}
            {% endwith %}
        </p>
    </div>
</article>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script src="{{ STATIC_URL }}javascripts/measure_segments.js"></script>
{% endblock %}
