{% extends "exercises/detail/base.html" %}
{% load utils_extras %}

{% block exercise_content %}
{% with questions.unity|first as unity %}
<article class="content full">
    {% with questions.term2|first as term2 %}
    <p>Descubra a área da figura abaixo, sabendo que cada quadrado que a compõe possui {{ term2.value }}{{ unity.value }}&sup2;:</p>
    {% endwith %}

    {% with questions.term1|first as term1 %}
    <p>
        <canvas class="tile" width="100" height="100"
                data-term1="{{ term1.value }}" data-extra-stroke="0" data-max-tile-size="100">
            Canvas não suportado pelo browser!
        </canvas>
    </p>
    {% endwith %}

    <p>
        {% for item in answers.result %}
        Resposta: <span>{{ item.correct_value|cut_zeros }}{{ unity.value }}&sup2;</span>
        {% endfor %}
    </p>
</article>
{% endwith %}
{% endblock %}

{% block user_attempt %}
{% with questions.unity|first as unity %}
<article class="content full">
    {% with questions.term2|first as term2 %}
    <p>Descubra a área da figura abaixo, sabendo que cada quadrado que a compõe possui {{ term2.value }}{{ unity.value }}&sup2;:</p>
    {% endwith %}

    {% with questions.term1|first as term1 %}
    <p>
        <canvas class="tile" width="100" height="100"
                data-term1="{{ term1.value }}" data-extra-stroke="0" data-max-tile-size="100">
            Canvas não suportado pelo browser!
        </canvas>
    </p>
    {% endwith %}

    <p>
        {% for item in answers.result %}
        Resposta: <span>{{ item.value|cut_zeros }}{{ unity.value }}&sup2;</span>
        {% endfor %}
    </p>
</article>
{% endwith %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script src="{{ STATIC_URL }}javascripts/area.js"></script>
{% endblock %}
