{% extends "exercises/form/base.html" %}

{% block exercise_content %}
<article class="content">
    <p class="text-center">Calcule a soma das frações abaixo, indique o resultado sem simplificações:</p>

    <div class="line width-ref">
        <div class="group">
            {% for item in questions.term1 %}
            <span>{{ item.value }}</span>
            {% if forloop.first %}<hr/>{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">{% block sign %}+{% endblock %}</span>
        <div class="group">
            {% for item in questions.term2 %}
            <span>{{ item.value }}</span>
            {% if forloop.first %}<hr/>{% endif %}
            {% endfor %}
        </div>
        <span class="f-sign">=</span>
        <div class="group centered-base">
            {% with answers.missing2|first as f %}
            	{{ f.answer }}{{ f.value }}
            {% endwith %}
            <span>+</span>
            {% with answers.missing3|first as f %}
            	{{ f.answer }}{{ f.value }}
            {% endwith %}

        	<hr/>

            {% with answers.missing1|first as f %}
            	{{ f.answer }}{{ f.value }}
            {% endwith %}
       </div>
       <span class="f-sign">=</span>
       <div class="group">
            {% with answers.missing4|first as f %}
            	{{ f.answer }}{{ f.value }}
            {% endwith %}
            <hr/>
            {% with answers.missing5|first as f %}
            	{{ f.answer }}{{ f.value }}
            {% endwith %}
       </div>
    </div>
</article>
{% endblock exercise_content %}
