{% extends "registration/base_login.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}
<h1>{% trans 'Enter new password' %}</h1>
<div class="panel">
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    <form action="" method="post">{% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }} {{ field.errors }}
        {% endfor %}
        <button class="button" type="submit">{% trans 'Change my password' %}</button>
    </form>
</div>
{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<div class="panel">
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

</div>
{% endif %}
{% endblock %}
