{% extends "exercises/form/single-choice.html" %}
{% load exercises_extras %}

{% block exercise_description %}
{% with questions|first as term1 %}
<p>O nome {{ term1.value|polygon_name }} representa qual das figuras geométricas planas  abaixo?</p>
{% endwith %}
{% endblock %}

{% block choices_params %} class="inline-list"{% endblock %}

{% block choice_description %}
<canvas class="polygon" data-term="{{ choice }}"></canvas>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script src="{{ STATIC_URL }}javascripts/polygons.js"></script>
{% endblock %}
