<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mainiti</title>
</head>
<body>

<table width="667" border="0" cellspacing="0" cellpadding="0"><tr><td bgcolor="#66C0E2">

    <div><img src="{{ STATIC_URL }}images/newsletter/header-1.jpg" width="667" height="140" style="display: block" alt="Mainiti - Aprendendo todo dia"/></div>
    <div><img src="{{ STATIC_URL }}images/newsletter/header-2.jpg" width="667" height="100" style="display: block" alt="O Mainiti Matemática está revolucionando a educação"/></div>
    <div><img src="{{ STATIC_URL }}images/newsletter/header-3.jpg" width="667" height="98" style="display: block" alt="Conheça o mainiti"/></div>

    <table width="667" border="0" cellspacing="0" cellpadding="0"><tr><td bgcolor="#66C0E2">
        <tr>
            <td width="345" valign="top">
                <div style="font-family:arial; font-size:15px; color:#FFF; padding: 0 15px 0 40px; font-weight: bold; font-size: 14px; line-height: 18px">
                    O Mainiti é um método de aprendizagem  estruturado em um
                    ambiente dinâmico, interativo e totalmente virtual que
                    proporciona aos alunos uma experiência inovadora.
                    <br/>
                    <br/>
                    O acesso é simples e rápido, basta uma conexão com a
                    internet, seja na escola ou em casa.
                    <br/><br/>
                    A educação do futuro ao alcance de sua instituição de ensino.
                    <br/>
                    <br/>
                </div>
                <div style="margin-left: 30px">
                    <a href="http://www.mainiti.net.br"><img src="{{ STATIC_URL }}images/newsletter/button.png" width="301" height="46"  alt=""/></a>
                </div>
            </td>
            <td width="9" valign="top">
                <img src="{{ STATIC_URL }}images/newsletter/left.jpg" width="9" height="288" style="display: block"/>
            </td>
            <td width="296" valign="top" bgcolor="#ffffff" style="font-family: arial; font-size: 14px; line-height: 18px">
                <div style="font-size: 18px; color:#79BB3F; font-weight:bold; padding: 0 10px; margin-bottom: 8px">
                    <img src="{{ STATIC_URL }}images/newsletter/icon1.jpg" width="38" height="41" style="vertical-align: middle"/>
                    Exercícios passo a passo
                </div>
                <div style="padding: 0 10px; margin-bottom: 23px">
                    Elaborado de acordo com o nível escolar, proporciona um
                    aprendizado sólido e duradouro através da prática diária da
                    matemática.
                </div>

                <div style="font-size: 18px; color:#79BB3F; font-weight:bold; padding: 0 10px; margin-bottom: 8px">
                    <img src="{{ STATIC_URL }}images/newsletter/icon2.jpg" width="38" height="41" style="vertical-align: middle"/>
                    Foco em produtividade
                </div>
                <div style="padding: 0 10px; margin-bottom: 8px">
                    Os professores contarão com correção automática de exercícios
                    e poderão acompanhar o progresso dos alunos através de
                    relatórios de desempenho.
                </div>
            </td>
            <td width="17" valign="top">
                <img src="{{ STATIC_URL }}images/newsletter/rigth.jpg" width="9" height="288" style="display: block"/>
            </td>
        </tr>
    </table>

    <div><img src="{{ STATIC_URL }}images/newsletter/footer.jpg" width="667" height="299" alt="www.mainiti.com.br" style="display: block"/></div>

</td></tr></table>


</body>
</html>
